.navigation {
    border: rgba(255, 141, 9, 1) 1px solid;
    border-radius: 5px;
}

.buy-button {
    background: rgba(255, 141, 9, 1);
    padding: 10px 60px;
    border-radius: 10px;
}

.hero-wrapper {
    background-image: url('./images/section1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-title {
    position: absolute;
    bottom: 0;
}

.hero-image {
    padding-bottom: 90px;
}

.hero-desc {
    width: 745px;
    text-align: center;
    margin-top: 40px;
}

.socials {
    margin: 30px 0px;
    display: flex;
}

.about-wrapper {
    background: rgb(24, 20, 32);
}

.about-circle {
    position: absolute;
    bottom: 35px;
    right: -25px;

}

.about-image {
    z-index: 1;
}

.about-header {
    color: rgba(52, 82, 116, 1);
}

.about-color {
    color: rgba(118, 80, 255, 1);
}

.htb-wrapper {
    background-image: url('./images/htb-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.htb-image1 {
    position: absolute;
    right: 100px;
    top: -180px;
}

.htb-image2 {
    position: absolute;
    left: 100px;
    top: -80px;
}

.htb-image3 {
    position: absolute;
    right: 100px;
    top: -60px;
}

.htb-image4 {
    position: absolute;
    left: 100px;
    top: -50px;
}

.htb-block1 {
    width: 100%;
    padding: 6rem 8rem;
    margin: 5rem 0;
    position: relative;
    border-radius: 10px;
}

.htb-block2 {
    width: 100%;
    padding: 6rem 8rem;
    margin: 5rem 0;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: end;
}

.htb-block3 {
    width: 100%;
    padding: 6rem 8rem;
    margin: 5rem 0;
    position: relative;
    border-radius: 10px;
}

.htb-block4 {
    width: 100%;
    padding: 6rem 8rem;
    margin: 5rem 0;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: end;
}

.token-image {
    position: absolute;
    top: -100px;
}

.token-progress {
    display: flex;
    backdrop-filter: blur(5px);
    padding: 60px 150px 60px 0px;
    margin-top: 350px;
    border-image: linear-gradient(to right, red, #ffffff00) 1;
    border-width: 1px;
    border-style: solid;
}

.token-fire {
    position: absolute;
    top: -100px;
}

.token-token {
    text-align: center;
    background: rgb(80, 80, 80);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: inset 0px 0px 10px 1px rgba(255, 255, 255, 0.287);
    color: rgba(255, 229, 0, 1);
    padding: 50px 200px;
}

.roadmap-wrapper {
    background: rgba(44, 43, 59, 1);
}

.roadmap-image1 {
    position: absolute;
    left: 0;
    top: -50px;
}

.roadmap-image2 {
    position: absolute;
    right: 0;
    top: -50px;
}

.roadmap-block {
    backdrop-filter: blur(5px);
    padding: 80px 40px;
    border: solid 1px rgb(255, 255, 255);
    box-shadow: inset 0px 0px 50px 10px rgba(255, 255, 255, 0.339);
    border-image: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff00) 1;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.roadmap-number {
    position: absolute;
    top: -50px;
    left: 135px;

    font-size: 40px;
    font-weight: 700;
    color: rgba(236, 152, 70, 1);
    background: rgba(27, 27, 35, 1);
    padding: 10px 30px;
    border-radius: 50%;
    border: 10px solid rgba(236, 152, 70, 1);
}